@import "tailwindcss";
@import "@nuxt/ui-pro";

/* https://uicolors.app/generate/ffffff */

@theme {
  --color-midnight: oklch(20.8% 0.042 265.755);
}

@utility bg-abstract {
  background-image: url("assets/images/bg-abstract.webp");
}

/* I aplpy dark mode colors to light mode */
:root {
  --ui-bg: oklch(20.8% 0.042 265.755);
  --ui-border: oklch(27.9% 0.041 260.031);
  --ui-text: oklch(92.9% 0.013 255.508);
  --ui-text-inverted: oklch(20.8% 0.042 265.755);
}
.dark {
  --ui-bg: oklch(20.8% 0.042 265.755);
  --ui-border: oklch(27.9% 0.041 260.031);
  --ui-text: oklch(92.9% 0.013 255.508);
  --ui-text-inverted: oklch(20.8% 0.042 265.755);
}

/* transition for all pages */
.page-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.page-enter-active,
.page-leave-active {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
